@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  overflow-x: hidden;
}
button{
  outline: none;
}

.pop-out{
  transition: 0.15s;
}
.pop-out:hover{
  transform: scale(1.05);
}
.pop-out-arrow{
  transition: 0.15s;
}
.pop-out-arrow:hover{
  transform: scale(1.4);
}

